.header {
	display: flex;
	background: #336699;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header h1 {
	margin: 0;
	padding: 0.5em;
	font-weight: 400;
	color: #FFF;
}

.header nav {
	display: flex;
	margin-left: auto;
}

.header nav a {
	display: inline-flex;
	align-items: flex-end;
	padding: 0.5em;
	flex-basis: 5em;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
